# Byte-compiled / optimized / DLL files
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

# DS_Store
.DS_Store
**/.DS_Store

# backup files
*.bak

# .swp files
*.swp

# large training checkpoints
.t7
.pt

# other
.AU.o7M7Z
.git
data/
